---

- name: Update all packages
  apt:
    update_cache: yes
    upgrade: yes
    cache_valid_time: 86400


- name: Install packages
  package:
    state: present
    name: "{{ item }}"
  with_items:
    - wget
    - curl
    - vim
    - python3
    - python3-pip

- name: Create symlink for python
  file:
    src: /usr/bin/python3
    dest: /usr/bin/python
    state: link
 
- name: Create symlink for pip
  file:
    src: /usr/bin/pip3
    dest: /usr/bin/pip
    state: link
