---
# infrastructure
- name: Create infrastructure
  hosts: localhost
  roles:
    - role: install_dynamic_inventory
    - role: call_terraform

# Common server configuration
- hosts: all
  remote_user: ubuntu
  become: True
  roles:
  - role: users
  - role: secure_ssh
  - role: server_common
  - role: install_aws_cli
  - role: install_docker

# Install Jenkins
- hosts: all
  remote_user: ubuntu
  become: True
  roles:
  - role: install_jenkins

